@charset "UTF-8";

/*MOBILE FIRST*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
   /* background-color: black; */
    overflow-x: hidden;
}
/*header{
    background-color: #1f1f1f;
    height: 100px;
    box-shadow: 0px 0px 20px #111113c0;
} */
h1, h1{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    display: block;
    background-color: #111113;
    padding: 20px;
    padding-top: 30px;
    box-shadow: 2px 2px 10px #111113;
    
}
ul li{
    list-style-type: none;
    display: inline-block;
}
li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    transition-duration: 0.8s;
}
li a:hover{
    background-color: #005ba183;
    color: #f3f3f3;
    border-radius: 10px 10px 0px 0px;
}
section.apresentacao {
    background-color: #f3f3f3;
    padding: 30px;
    height: 600px;
    color: #000000;
}
.apresentacao h1{
    margin-bottom: 20px;
    float: right;
    text-align: right;
}
.apresentacao .desc{
    background-color: aqua;
    float: left;
    width: 400px;
}
.apresentacao .foto{
    float: right;
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius: 50%;
    
}
section.habilidades{
    background-color: #111113;
    width: 100vw;
    height: 1250px;
    margin: auto;
    display: grid;
}
.habilidades h2{
    color: white;
    text-align: center;
}
.habilidades div{
    background-color: #111113;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: auto;
    height: 350px;
    width: 350px;
    transition: all 0.5s ease;
}
.habilidades div:hover{
    box-shadow: 1px 2px 10px white;
    transform: translateY(-6px);
}
section.projetos{
    background-color: #f3f3f3;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: grid;
}
.projetos div{
    background-color: #111113;
    border-radius: 10px;
    margin: auto;
    width: 90vw;
    height: 100px;
    transition: all 0.5s ease;
}
.projetos div:hover{
    box-shadow: 1px 2px 10px #000000;
    transform: translateY(-2px);

}
footer{
    background-color: #111113;
    height: 100px;
    display: flex;
}
footer > p{
    color: white;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 4px;
}
footer a:hover{
    text-decoration: underline;
}
@media screen and (min-width:600px) {
    section.habilidades{
        background-color: #111113;
        width: 100vw;
        height: 90vh;
        margin: auto;
        gap: 1.5em;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .habilidades div{
        display: grid;
        background-color: #111113;
        border: 1px solid white;
        border-radius: 10px;
        height: 350px;
        width: 350px;
        transition-property: all;
        transition-duration: 0.8s ease;
    }
    .habilidades div:hover{
        box-shadow: 1px 2px 10px white;
    }
    section.projetos{
        background-color: #f3f3f3;
        margin-inline: auto;
        padding: 10px 0px;
        width: 100vw;
        height: 100vh;
        display: grid;
        gap: 1.5em;
        grid-template-columns: repeat(3, 1fr);
    }
    section.projetos div{
        padding: 10px;
        width: 300px;
        height: 250px;
        border-radius: 10px;
        background-color: #111113;
        transition: all 0.5s ease;
        color: white;
    }
    
    .projetos div:hover{
        box-shadow: 1px 2px 10px #000000;
        transform: translateY(-2px);
    
    }
    
}