@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    background-color:#E2E2E5;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
}
main{
    background-color: #2D2F36;
    box-shadow: 0px 0px 20px #0d0d0d4f;
    border-radius: 8px;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section#login{
    background-color: #F2F2F2;
    width: 400px;
    height: 360px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
div.color{
    background-color: #F2F2F2;
    display: block;
    padding: 25px;
    border-bottom: 2px solid #045293;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 4px 8px #00000033;
    transform: translateY(-10px);
}
div.color h3{
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    transform: translateY(-12px);
    transition: background-color 0.5s ease, color 0.2s ease;
}
div.color h3:hover{
    border-radius: 5px;
    color: white;
    background-color: #002947;
}
section > div.grad{
    margin: auto;
    width: 100%;
    height: 6px;
    border-bottom: 2px black;
    background-image: linear-gradient(to right, #71c5ee, #53a7d8, #3889c1, #1e6caa, #025091);
    transform: translateY(-15px);
}
div.form h1{
    text-align: center;
    font-size: 2em;
    padding: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 300;
}
label{
    display: none;
}
div.campo{
    padding: 10px;
    text-align: center;
}
input[type=email], input[type=password]{
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 8px;
    width: 70%;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid #04539367;
    font-family: 'Open Sans';
    font-weight: 100;
    transition-duration: 0.5s;
}
input[type=email]:hover, input[type=password]:hover{
    border-bottom: 2px solid #045293;
    background-color: #E5E6E8;
}
input:focus{
    outline: none;
}
input[type=submit]{
    background-image: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 1.2em;
    border: transparent;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: lighter;
    transition: all 0.5s ease;
}
input[type=submit]:hover{
    background-image: linear-gradient(to right, #70c4ed, #53a7d8, #388ac2, #1f6eab, #045293);
    border-bottom: 2px solid #045293;
    color: white;
    box-shadow: 0px 4px 8px #00000033;
    cursor: pointer;
}
form > a{
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    width: 100%;
}
form > a:hover{
    text-decoration: underline;
}

@media screen and (min-width:400px) {
    
    
}