@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    background-color:#364021;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
}
div.option{
    border-radius: 8px;
    text-align: center;
    display: block;
    width: 50vw;
    margin: auto;
    position: absolute;
    padding: 4px 0px 4px 0px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
div.option > input{
    color: white;
    background-color: #212122;
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    width: 20vw;
    text-transform: uppercase;
}
div.option > input:hover{
    box-shadow: 0px 0px 10px #ffffff8e;
    transform-origin: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
main{
    background-color: #0D0D0D;
    box-shadow: 0px 0px 20px #0d0d0d4f;
    border-radius: 8px;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section#login{
    background-color: #E9F2A0;
    width: 400px;
    height: 360px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: block;
}
section#sign{
    display: none;
    background-color: yellow;
    width: 400px;
    height: 370px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.color{
    background-color: #B3BF56;
    display: block;
    padding: 25px;
    border-bottom: 2px solid #364021;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 4px 8px #00000033;
    transform: translateY(-10px);
}
div.form h1{
    text-align: center;
    font-size: 2em;
    padding: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 300;
}
label{
    display: none;
}
div.campo{
    padding: 10px;
    text-align: center;
}
input[type=email], input[type=password]{
    border-radius: 5px;
    padding: 8px;
    width: 70%;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid #c2d894;
    font-family: 'Open Sans';
    font-weight: 100;
    transition-duration: 0.5s;
}
input[type=email]:hover, input[type=password]:hover{
    border-bottom: 2px solid #364021;
    background-color: #f6fada;
}
input:focus{
    outline: none;
}
input[type=submit]{
    background-color: #B3BF56;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: transparent;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: lighter;
    transition-duration: 0.2s;
}
input[type=submit]:hover{
    border-bottom: 2px solid #364021;
    box-shadow: 0px 4px 8px #00000033;
}
form > a{
    display: block;
    text-align: center;
    margin: auto;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    width: 100%;
}
form > a:hover{
    text-decoration: underline;
}